@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --primary-color: #673de6;
  --white-color: #fff;
  --grey-color: rgb(231, 229, 229);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: block;
}

.txt_center {
  text-align: center;
}

.justify_btw {
  justify-content: space-between;
}

.align_center {
  align-items: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0.3rem;
  padding: 0.6rem 1.5rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.btn_primary,
.btn_secondary {
  font-size: larger;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

.btn_secondary {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.width_70 {
  width: 70%;
}

.relative {
  position: relative;
}

/* element styles */
ul {
  list-style: none;
}

/* paddings */
.p_1 {
  padding: 1rem;
}

.p_2 {
  padding: 2rem;
}

.p_3 {
  padding: 3rem;
}

.p_lr_4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* margins */
.m_1 {
  margin: 1rem;
}

.m_r_2 {
  margin-right: 2rem;
}

.m_l_07 {
  margin-left: 0.7rem;
}

.m_t_1 {
  margin-top: 1rem;
}

/* font size */
.font_xsm {
  font-size: 2rem;
}

.secondary_heading {
  margin-bottom: 2rem;
}
